.reviewdisplay{
    background-color: #CEA16F;
    color: #24222C
}

.reviewdisplaydark{
    background-color: #24222C;
    color: #FAF8FA;
}



.Comments{
    min-width: 350px;
    border-radius: 30px;
    margin: 30px;
}

.headings {
border-radius: 30px;
color: #24222C;
background-color: #837990;
}
.headingsdark {
    border-radius: 30px;
    color: #24222C;
    background-color: #CEA16F;
    }

