.reviewdisplay{
    background-color: #24222C;
    color: #FAF8FA;
    border-radius: 25px;
    border: 1.5px solid #FAF8FA;
    border-left: 0px solid #CEA16F;
    border-right: 0px solid #CEA16F;
    padding: 5px;
    padding-left: 0px;
    padding-right: 0px;
}

.reviewdisplaydark{
    background-color: #24222C;
    color: #FAF8FA;
    border-radius: 25px;
    border: 1.5px solid #CEA16F;
    border-left: 0px solid #CEA16F;
    border-right: 0px solid #CEA16F;
    padding: 5px;
    padding-left: 0px;
    padding-right: 0px;

}

.reviewdisplaycomment{
    background-color: #24222C;
    color: #FAF8FA;
    border-radius: 25px;
    border: 0px solid #FAF8FA;
    border-left: 0px solid #CEA16F;
    border-right: 0px solid #CEA16F;
    padding: 10px;
}

.reviewdisplaycommentdark{
    background-color: #24222C;
    color: #FAF8FA;
    border-radius: 10px;
    border: 0px solid #CEA16F;
    border-left: 0px solid #CEA16F;
    border-right: 0px solid #CEA16F;
    padding: 10px;
}



.Comments{
    min-width: fit-content;
    border-radius: 10px;
    border: 1.5px solid #CEA16F;
    margin: 10px;
    
}


.headings {
border-radius: 3px;
background-color: #CEA16F;;
color: #24222C;
border: none;
}
.headingsdark {
    border-radius: 3px;
    color: #24222C;
    background-color: #CEA16F;
    
    
    }


