.reviewdisplay{
    background-color: #837990;
    color: #24222C;
    border-radius: 30px;
}

.reviewdisplaydark{
    background-color: #24222C;
    color: #FAF8FA;
    border-radius: 30px;
}



.Comments{
    min-width: fit-content;
    border-radius: 30px;
    margin: 30px;
}

.headings {
border-radius: 30px;
color: #FAF8FA;
background-color: #24222C;
}
.headingsdark {
    border-radius: 30px;
    color: #24222C;
    background-color: #CEA16F;
    }


