.reviewdis {
    display: flex;
    flex-flow: row wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #837990;
}

.reviewdisdark {
    display: flex;
    flex-flow: row wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #24222C;
}

.RevCard {
    min-width:fit-content;
    /* display: flex; */
}